@font-face {
  font-family: jilatax;
  src: url('../../public/fonts/jilatax.ttf');
}

:root {
  font-family: system-ui, sans-serif;
}

.app-shell {
  background-color: #ffffff;
  color: #000000;
}
.app-shell.theme-dark {
  background-color: #000000;
  color: #ffffff;
}
/**
 * ------------------------------------------------
 *  ⚡ APP 
 * ------------------------------------------------
 */
.app-shell {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.screen {
  height: 100%;
  position: relative;
  width: 100%;
}

.screen__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 48px 22px 124px;
}

.centered-message {
  font-family: jilatax;
  font-size: 32px;
  margin: auto;
  text-align: center;
}
